{% extends 'base.html' %} {% block content %} {% load static %}
<!-- banner -->
<div class="banner">
	<div class="container">
		<div class="banner-info animated wow zoomIn" data-wow-delay=".5s">
			<h2 style="font-size: 4em;">GET YOURSELF FIT</h2>
			<h4>JUST IN<span>30<i>DAYS</i></span></h4>
			<div class="wmuSlider example1">
				<div class="wmuSliderWrapper">
					<article style="position: abszolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="banner-info1">
								<p>Witness The Fitness</p>
							</div>
						</div>
					</article>
					<article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="banner-info1">
								<p>Eat Healthy Not Less</p>
							</div>
						</div>
					</article>
					<article style="position: absolute; width: 100%; opacity: 0;"> 
						<div class="banner-wrap">
							<div class="banner-info1">
								<p>Don't Stop Until You're Proud</p>
							</div>
						</div>
					</article>
				</div>
			</div>
				<script src=" {% static 'js/jquery.wmuSlider.js' %} "></script> 
				<script>
					$('.example1').wmuSlider();         
				</script> 
		</div>
	</div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
	<div class="container"> 
			<div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
				<div class="grid">
					<figure class="effect-julia">
						<img src=" {% static 'images/fit4.jpg' %} " alt=" " class="img-responsive" />
						<figcaption>
							<h3>Stay <span>Healthy</span><i> By Doing Exercise</i></h3>
							<div>
								<p>Boosts Energy</p>
								<p>Promotes Better Sleep</p>
								<p>Improves Mood</p>
							</div>
						</figcaption>			
					</figure>
				</div>
			</div>
			<div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
				<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
					<div class="banner-bottom-grid-left-grid1">
						<img src=" {% static 'images/fit2.jpg' %} " alt=" " class="img-responsive" />
					</div>
					<div class="banner-bottom-grid-left1-pos">
						<p style="color: #97ee0c">Are You Ready?</p>
					</div>
				</div>
				<div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
					<div class="banner-bottom-grid-left-grid1">
						<img src=" {% static 'images/fit1.jpg' %} " alt=" " class="img-responsive" />
					</div>
					<div class="banner-bottom-grid-left1-position">
						<div class="banner-bottom-grid-left1-pos1">
							<p style="color: #97ee0c">Never Give Up </p>
						</div>
					</div>
				</div>
			</div>
			<div class="banner-bottom-grid-right animated wow slideInRight" data-wow-delay=".5s">
				<div class="banner-bottom-grid-left-grid grid-left-grid1">
					<div class="banner-bottom-grid-left-grid2">
						<img src=" {% static 'images/fit12.jpg' %} " alt=" " class="img-responsive" />
					</div>
					<div class="grid-left-grid1-pos">
						<p>Work Hard <span>Everything is possible</span></p>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		{% if request.session.log_user %}
		{% else %}
			<input type="button" value="Login to View Exercise" class="animated wow slideInUp" onclick="location.href=' {% url 'login.html' %} '" style="margin-top: 130px; margin-left: 80px; padding: 10px 150px; font-size: 16px; text-align: center; background-color: #97ee0c;  animation: glowing 1300ms infinite; -webkit-border-radius: 60px;font-size: 25px;color:white;border: none;">
		{% endif %}
	</div>
</div>
<!-- //banner-bottom -->
<!-- collections -->
<div class="new-collections">
	<div class="container">
		<h3 class="animated wow zoomIn" data-wow-delay=".5s">New Products</h3>
		<p class="est animated wow zoomIn" data-wow-delay=".5s">Shop Now</p>
		<div class="new-collections-grids">
			<div class="row">
				{% for data in products %}
			<div class="col-md-3 new-collections-grid">
				<div class="new-collections-grid1 animated wow slideInUp" data-wow-delay=".5s" style="border:4px solid rgb(240, 240, 240)">
					<div class="new-collections-grid1-image">
						<br><br>
						<a href="/single/{{ data.id }}" class="product-image"><img src="/media/{{ data.i_photo }}" alt=" " class="img-responsive" style="height: 250px;"/></a>
						<div class="new-collections-grid1-image-pos">
							<a href="/single/{{ data.id }}">Quick View</a>
						</div>
					</div>
					<br>
					<br><br>
					<h4><a href="/single/{{ data.id }}" style="height:40px">{{ data.i_name }}</a></h4>
					<div class="new-collections-grid1-left simpleCart_shelfItem">
						<p>
							<span class="item_price">₹{{ data.i_price }}</span><a class="item_add" href="/addtocart/{{ data.id }}">add to cart </a></p>
					</div>
				</div>
			</div>
				{% endfor %}
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!-- //collections -->
<!-- new-timer -->
<div class="timer">
	<div class="container">
		<div class="timer-grids">
			<div class="col-md-8 timer-grid-left animated wow slideInLeft" data-wow-delay=".5s">
				<h3><a href="  " style="color: #97ee0c;">EAT HEALTHY DIET</a></h3>
				<div class="new-collections-grid1-left simpleCart_shelfItem timer-grid-left-price">
					<h4>Food is essential for our body for numerous reasons. It furnishes us with the strength 
						required for working, playing, and doing regular exercises. It assists us with developing,
						makes our bones and muscle tissues solid, fixes harmed body cells, and lifts our insusceptibility 
						towards outer risky components. Also, this isn’t all! Food moreover offers us a kind of fulfillment 
						that is essential to our mental prosperity. However, are largely meals sources sound? No. Just those 
						meals matters that include dietary supplements to a decent volume are taken into consideration sound.
						Individuals, all matters taken into consideration, ought to recognize approximately the benefits of
						consuming healthful meals because it ensures a sensibly sickness-free, healthy lifestyles for extra 
						number years.<br>
					</h4>
					<h3 style="margin-left: 75%;color:#97ee0c">~Erica Kendall</h3>
				</div>
				<style>
					@keyframes glowing {
						0% {
						background-color: #2ba805;
						box-shadow: 0 0 5px #2ba805;
						}
						50% {
						background-color: #49e819;
						box-shadow: 0 0 20px #49e819;
						}
						100% {
						background-color: #2ba805;
						box-shadow: 0 0 5px #2ba805;
						}
					}
				</style>
				{% if request.session.log_user %}
				{% else %}
					<input type="button" value="Login to View Diet" class="animated wow slideInUp" onclick="location.href=' {% url 'login.html' %} '" style="margin-top: 130px; margin-left: 80px; padding: 10px 150px; font-size: 16px; text-align: center; background-color: #97ee0c;  animation: glowing 1300ms infinite; -webkit-border-radius: 60px;font-size: 25px;color:white;border: none;">
				{% endif %}
			</div>
			<div class="col-md-4 timer-grid-right animated wow slideInRight" data-wow-delay=".5s">
				<div class="timer-grid-right1">
					<img src=" {% static 'images/diet1.jpg' %} " alt=" " class="img-responsive" />
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
{% endblock %}